@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Oswald", sans-serif;
  background-color: #faefbf;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  border-right: solid 2px black;
}

#nav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  background-color: #faefbf;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.4em;
  padding: 10px;
  border-bottom: solid 1px black;
}

#page-title {
  font-size: 2.5em;
  border-bottom: solid 2px black;
  padding: 35px 10px 10px 10px;
  background-color: #faefbf;
}

#main-doc {
  margin-left: 320px;
}

header {
  font-size: 2em;
}

/* Media rules for responsive behaviour */
@media (max-width: 900px) {
  #page-title {
    font-size: 2em;
  }

  #navbar {
    width: 250px;
  }

  #main-doc {
    margin-left: 270px;
  }
}

/* At screen widths narrower than 701px, navbar occupies top of screen */
@media (max-width: 700px) {
  #navbar {
    width: 100%;
    border-right: none;
  }

  #nav-content {
    height: 200px;
    border-bottom: solid 2px black;
  }

  #main-doc {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 300px;
  }
  
  /* rule to ensure navlinks jump to correct place on screen taking navbar into account */
  .main-section:before {
    display: block;
    content: "";
    height: 300px;
    margin-top: -300px;
  }
}